body {
    margin: 0;
    padding: 0 auto;
}

.nav {
    background-color: rgb(61, 22, 61);
    display: flex;
    justify-content: flex-end;
}

.nav img {
    float: left;
    margin-left: 10px;
    

}